body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECEBE8;
}

@import url(./assets/wrapper.css);
@import url(./assets/search.css);
@import url(./assets/search__input-wrapper.css);
@import url(./assets/search__title.css);
@import url(./assets/search__input.css);
@import url(./assets/searh__btn.css);
@import url(./assets/searh__btn_disabled.css);
@import url(./assets/results.css);
@import url(./assets/cards.css);
@import url(./assets/cards__text.css);
@import url(./assets/cards__author.css);
@import url(./assets/cards__info.css);
@import url(./assets/authors.css);
@import url(./assets/authors__item.css);
@import url(./assets/authors__group.css);
@import url(./assets/authors__name.css);